## MovieLens

In [1]:
import pandas as pd

path = "D:\\recsys\\datasets\\MovieLens\\ml-1m\\ratings.dat"
output = "D:\\recsys\\datasets\\MovieLens\\ml-1m\\ml-1m.csv"
outputOnlyPositive = "D:\\recsys\\datasets\\MovieLens\\ml-1m\\ml-1m-gte.csv"

users = []
items = []
ratings = []
timestamps = []

print('Reading file {}'.format(path))
with open(path, 'r') as f:
    for index, line in enumerate(f):
        line.replace(" ", "")
        line.replace("\n", "")
        if line == "":
            continue
        user, item, rating, timestamp = line.split("::")
        users.append(int(user))
        items.append(int(item))
        ratings.append(int(rating))
        timestamps.append(int(timestamp))
    df = pd.DataFrame({"User": users, "Item": items, "Rating": ratings, "Timestamp": timestamps})
print('Sorting by timestamp')
df = df.sort_values(by=["Timestamp"])

print('Writing csv file')
with open(output, 'w+') as f:
    for index, row in df.iterrows():
        f.write("{},{},{},{}\n".format(row['User'], row['Item'], row['Rating'], row['Timestamp']))

print('Writing csv file with binary ratings')
with open(outputOnlyPositive, "w+") as f:
    for index, row in df.iterrows():
            if row['Rating'] == 5:
                f.write("{},{},{},{}\n".format(row['User'], row['Item'], 1, row['Timestamp']))
print("Complete")

Reading file D:\recsys\datasets\MovieLens\ml-1m\ratings.dat
Sorting by timestamp
Writing csv file
Writing csv file with binary ratings

## Palco Principal - Music-listen

In [14]:
import pandas as pd
from datetime import datetime

path = "C:\\recsys\\datasets\\palco\\"
music_playlist = "{}music_playlist.csv".format(path)

users = []
items = []
timestamps = []


for file in ['listenedtracks1.tsv', 'listenedtracks2.tsv']:
    print('Reading file {}'.format(path + file))
    with open("{}{}".format(path, file), 'r') as f:
        next(f)
        for index, line in enumerate(f):
            line.replace(" ", "")
            line.replace("\n", "")
            if line == "":
                continue

            user, item, dt = line.split("\t")
            users.append(int(user))
            items.append(int(item))
            dt = dt.split(" ")
            dt = dt[0].split("-") + dt[1].split(":")[:2]
            dt = list(map(int, dt))
            dt = datetime(dt[0], dt[1], dt[2], dt[3], dt[4])
            ts = datetime.timestamp(dt)
            timestamps.append(int(ts))
df = pd.DataFrame({"User": users, "Item": items, "Timestamp": timestamps})
    
print('Sorting by timestamp')
df = df.sort_values(by=["Timestamp"])

# print('Writing csv file')
# with open(music_listen, 'w+') as f:
#     for index, row in df.iterrows():
#         f.write("{},{},{},{}\n".format(row['User'], row['Item'], 1, row['Timestamp']))
# print("Complete")

Reading file C:\recsys\datasets\palco\listenedtracks1.tsv
Reading file C:\recsys\datasets\palco\listenedtracks2.tsv
Sorting by timestamp

## Palco Principal - Music-playlist

In [12]:
import pandas as pd
from datetime import datetime

path = "C:\\recsys\\datasets\\palco\\"
music_playlist = "{}music_playlist.csv".format(path)

users = []
items = []
ratings = []
timestamps = []



print('Reading file {}'.format(path + "playlistedtracks.tsv"))
with open(path + "playlistedtracks.tsv", 'r') as f:
    next(f)
    for index, line in enumerate(f):
        line.replace(" ", "")
        line.replace("\n", "")
        if line == "":
            continue

        user, item, dt = line.split("\t")
        users.append(int(user))
        items.append(int(item))
        dt = dt.split(" ")
        dt = dt[0].split("-") + dt[1].split(":")[:2]
        dt = list(map(int, dt))
        dt = datetime(dt[0], dt[1], dt[2], dt[3], dt[4])
        ts = datetime.timestamp(dt)
        timestamps.append(int(ts))
df = pd.DataFrame({"User": users, "Item": items, "Timestamp": timestamps})
    
print('Sorting by timestamp')
df = df.sort_values(by=["Timestamp"])

print('Writing csv file')
with open(music_playlist, 'w+') as f:
    for index, row in df.iterrows():
        f.write("{},{},{},{}\n".format(row['User'], row['Item'], 1, row['Timestamp']))
print("Complete")

Reading file C:\recsys\datasets\palco\listenedtracks2.tsv
Sorting by timestamp
Writing csv file
Complete

In [15]:
df

          User   Item   Timestamp
0        21074     81  1181947020
1        21074     81  1181947020
2        21074     82  1181947020
3        21074     82  1181947020
4        21074     81  1181947020
5        21074     82  1181947260
6        20568   6129  1181949240
7         3480    824  1181950260
8        31402    471  1181952960
9        15633    690  1181955360
10       19999     68  1181961960
11       19999     67  1181962140
12       20970    343  1181963580
13       20970   1089  1181963640
14       20970   4124  1181963640
15       20970   4126  1181963700
16       21081   2928  1181965020
17       21081   2929  1181965080
18       20746    343  1181995560
19       20746   4126  1181995560
20       20746   4124  1181995740
21       19688   6129  1182005640
22       21084   3015  1182010020
23       18190      1  1182019200
24       18190      2  1182019260
25       21076   4543  1182019680
26       21076   4544  1182019680
27       21076   4545  1182019680
28       21076   4546  1182019740
29       21083   3158  1182019980
...        ...    ...         ...
1466863  42657   3280  1300848600
1466864  42657   3282  1300848660
1466865  42657   3278  1300848660
1466866  42657   3284  1300848720
1466867  42657   3274  1300848720
1466868  42657   3287  1300848780
1466869  42657   3288  1300848780
1466871  43468  82253  1300848840
1466870  42657   3286  1300848840
1466872  43468  82250  1300848840
1466877  49678  67117  1300848900
1466878  49678  75168  1300848900
1466876  49678  67045  1300848900
1466879  49678  75172  1300848900
1466874  42657   3290  1300848900
1466873  72465  44618  1300848900
1466875  49678  66903  1300848900
1466882  42657   3279  1300848960
1466883  42657   3290  1300848960
1466880  49678  67045  1300848960
1466881  49678  67117  1300848960
1466886  49678  70475  1300849080
1466887  49678  79948  1300849080
1466884  49678  70450  1300849080
1466885  49678  70459  1300849080
1466890  49678  37370  1300849140
1466891  49678  37369  1300849140
1466888  49678  81850  1300849140
1466889  49678  81852  1300849140
1466892  49678  21676  1300849140

[1466893 rows x 3 columns]